<div class="columns">
  <div class="column">

      <span class="tag is-primary is-medium">
          {{person.name}}
      </span>


    <div>
        <span class="tag is-primary is-medium">
            {{person.city}}
        </span>

    </div>

     <p style="color: white; margin-top: 10px">Add Email 
      <i class="fas fa-plus"></i>
    </p>

    <div *ngFor="let item of person.emails">
        <span class="tag is-primary is-medium">
            {{item.userEmail}}
        </span>


    </div>
    <p style="color: white; margin-top: 10px"  (click)="toggleModalAdd()">Add Number 
        <i class="fas fa-plus"></i></p>
    <div *ngFor="let item of person.phones">
        <span class="tag is-primary is-medium">
            {{item.number}}
        </span>
        <span (click)="toggleModal('Phone', item.number)" class="icon has-text-danger">
          <i class="fas fa-ban"></i>
        </span>


      </div>
    
  </div>
  <div class="column">
      <textarea class="textarea is-medium" placeholder="10 lines of textarea" rows="10" [(ngModel)]="person.notes"   >

      </textarea> 


  </div>

</div>

<div class="columns">
    <div  class="column">
        <a class="button is-danger" (click)="toggleModal('Person')">Delete</a>
      </div>

    <div *ngIf="valueChanged()" class="column">
        <a class="button is-primary" (click)="update()">Save</a>
      </div>
  </div>



  <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" >Are you sure want to DELETE {{whatToDelete}}</p>
        <button class="delete" aria-label="close" (click)="toggleModal()"></button>
      </header>
      <footer class="modal-card-foot">
        <button class="button is-danger" (click)="delete()">DELETE</button>
        <button class="button" (click)="toggleModal()">Cancel</button>
      </footer>
    </div>
  </div>



  
  <div class="modal" [ngClass]="{ 'is-active' : isModalAdd }">
    <div class="modal-background" (click)="toggleModalAdd()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <input class="input" type="text"  [formControl]="phone" name="phone" placeholder="Phone">
        <p *ngIf="phone.errors && phone.touched"> Phone must be 10 characters</p>            
        <button class="delete" aria-label="close" (click)="toggleModalAdd()"></button>
      </header>
      <footer class="modal-card-foot">
        <div *ngIf="!phone.errors">
            <button class="button is-dark" (click)="createNumber()">Save</button>
        </div>
      
        <button class="button" (click)="toggleModalAdd()">Cancel</button>
      </footer>
    </div>
  </div>