<div class="columns">
  <div class="column">

      <span class="tag is-primary is-medium">
          {{person.name}}
      </span>


    <div>
        <span class="tag is-primary is-medium">
            {{person.city}}
        </span>

    </div>

    <div *ngFor="let item of person.emails">
        <span class="tag is-primary is-medium">
            {{item.userEmail}}
        </span>

    </div>
    <div *ngFor="let item of person.phones">
        <span class="tag is-primary is-medium">
            {{item.number}}
        </span>
        <span (click)="toggleModal('Phone', item.number)" class="icon has-text-danger">
          <i class="fas fa-ban"></i>
        </span>


      </div>
    
  </div>
  <div class="column">
      <textarea class="textarea is-medium" placeholder="10 lines of textarea" rows="10" [(ngModel)]="person.notes"   >

      </textarea> 


  </div>

</div>

<div class="columns">
    <div  class="column">
        <a class="button is-danger" (click)="toggleModal('Person')">Delete</a>
      </div>

    <div *ngIf="valueChanged()" class="column">
        <a class="button is-primary" (click)="update()">Save</a>
      </div>
  </div>



  <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" >Are you sure want to DELETE {{whatToDelete}}</p>
        <button class="delete" aria-label="close" (click)="toggleModal()"></button>
      </header>
      <footer class="modal-card-foot">
        <button class="button is-danger" (click)="delete()">DELETE</button>
        <button class="button" (click)="toggleModal()">Cancel</button>
      </footer>
    </div>
  </div>