<a class="button is-primary" id="btnadmin">Add User</a>
<a class="button is-primary"id="btnadmin" >Read Logs</a>
<a class="button is-primary"(click)="getCSV()" id="btnadmin">Get CSV</a>





<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="dates"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>