$primary-color-dark:   #1976D2;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


//currently used.
$primary:        #2196F3;


/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }






