<div *ngFor="let item of users" style="margin-top: 10px;">
    <span class="tag is-primary is-medium">
        {{item}}
    </span>
    <span (click)="toggleModal(item)" class="icon has-text-danger">
      <i class="fas fa-ban"></i>
    </span>


  </div>





<form (ngSubmit)="register()" #a="ngForm">



  <div class="main-container">


    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <mat-form-field>
          <input matInput placeholder="Email" class="form-control" ngModel email required #email="ngModel" name="email">
        </mat-form-field>
        <span *ngIf="!email.valid && email.touched">Please enter a valid email.</span>
      </div>
    </div>



    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <mat-form-field>
          <input matInput placeholder="Enter your password" class="form-control" ngModel name="password"
            [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <button type="submit" class="button is-primary" [disabled]="!a.valid" id="loginButton">Register User</button>

      </div>
      
    </div>
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <span>  {{error}}</span>
        </div>
        
      </div>




  </div>



</form>



<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" >Are you sure want to  delete {{whatToDelete}}</p>
        <button class="delete" aria-label="close" (click)="toggleModal()"></button>
      </header>
      <footer class="modal-card-foot">
        <button class="button is-danger" (click)="delete()">DELETE</button>
        <button class="button" (click)="toggleModal()">Cancel</button>
      </footer>
    </div>
  </div>