<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="icon">
        <i class="fas fa-home"></i>
      </span>
    </a>




    <a role="button" *ngIf="loggedIn()"  class="navbar-burger burger"  [matMenuTriggerFor]="menu" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_box</mat-icon>
            <span (click)="logout()">Logout</span>
          </button>
          <a [routerLink]="['/createperson']">
            <button mat-menu-item>
                <mat-icon>fiber_new</mat-icon>
                <span>New Person</span>
              </button>
          </a>

        </mat-menu>


  </div>

  <div  *ngIf="loggedIn()" id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/createperson']">
        New Person
      </a>




    </div>












    <div *ngIf="loggedIn()" class="navbar-end">
      


      <div class="navbar-item">
          <a class="button is-primary"  (click)="logout()">
              <strong>Logout</strong>
            </a>
        </div>


    </div>
  </div>
</nav>