<div class="columns">
  <div class="column">
    <input class="input" type="text"  [formControl]="phone" name="phone" placeholder="Phone">
    <p *ngIf="phone.errors && phone.touched"> Phone must be 10 characters</p>    
  </div>
  <div class="column">
    <div *ngIf="!phone.errors && phone.value !== ''">
      <button class="button is-primary" (click)="searchByPhone()">Search</button>
  </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <input class="input" type="text"  [formControl]="email" name="email" placeholder="Email">  
    <p *ngIf="email.errors && email.touched"> Email isn't valid</p>    
  </div>
  <div class="column">
    <div *ngIf="!email.errors && email.value !== ''">
      <button class="button is-primary" (click)="searchByEmail()">Search</button>
  </div>
  </div>
</div>




<table class="table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Action</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Date</th>

    </tr>
  </thead>

  <tr *ngFor="let log of logs">
    <td>{{log.owner}}</td>
    <td>{{log.action}}</td>
    <td>{{log.email}}</td>
    <td>{{log.phone}}</td>
    <td>{{log.date | date}}</td>

  </tr>


</table>




<div class="columns">
    <div class="column">

        <div *ngIf="currentPage === 1">
            <a class="button is-light">Previous</a>
        </div>
        <div *ngIf="currentPage > 1 ">
            <a class="button is-primary" (click)="previous()">Previous</a>
        </div>


    </div>
    <div class="column">
        <a class="button is-primary" (click)="next()">Next</a>

    </div>
  </div>

